{{input id=(concat 'allowed-type-' type) type="checkbox" checked=(readonly _checked) change=(action 'toggle') class="custom-control-input"}}
<label class="custom-control-label" for="allowed-type-{{type}}">{{type}}</label>

