<form {{action "search" on="submit"}}>
  <div class="input-group">
    {{input
      type="text"
      class="form-control form-control-sm"
      placeholder="Search..."
      value=phraseValue
      focusIn=(action 'selectAll')
    }}
    <span class="input-group-btn">
      <button class="btn btn-primary btn-sm">{{entypo-icon "magnifying-glass"}}</button>
    </span>
  </div>
</form>
