<form {{action "search" on="submit"}}>

  <div class="input-group">
    {{input
      type="text"
      class="form-control"
      placeholder="Search..."
      value=phraseValue
      focusIn=(action 'selectAll')
    }}
    <div class="input-group-append">
      <button class="btn btn-primary" type="button">{{entypo-icon "magnifying-glass"}}</button>
    </div>
  </div>

</form>
