<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <strong>Exclusion Lists</strong>
        <span class="badge badge-light">{{model.exclusions.length}}</span>
      </div>
      <div class="card-body p-2 tree-view">
        {{tree-views/exclusions
          on-select=(action "addExclusion")
          on-deselect=(action "removeExclusion")
          selectedIds=selectedExclusionIds
        }}
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card mt-3">
      <div class="card-header"><strong>Selected</strong></div>
      <div class="card-body">
        <ul class="list-inline mb-0">
          {{#each model.exclusions as |exclusion|}}
            <span class="badge badge-pill badge-info">
              <span class="h6 d-block m-1">{{exclusion.text}}</span>
            </span>
          {{else}}
            <span class="badge badge-pill badge-secondary">
              <span class="h6 d-block m-1"><em>(None Selected)</em></span>
            </span>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
