@import "node_modules/bootswatch/dist/simplex/variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootswatch/dist/simplex/bootswatch";

@import 'ember-power-select/themes/bootstrap';
@import "ember-power-select";
@import "ember-power-calendar";

@import "loading";

$z-depth-half: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 5px 0 rgba(0, 0, 0, 0.10);
$z-depth-1:  0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
$z-depth-1-half: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
$z-depth-2: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$z-depth-3: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
$z-depth-4: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);

a[data-ember-action]:not(:disabled),
.clickable {
    cursor: pointer;
}

nav.navbar {
  box-shadow: $z-depth-1-half;
}

.card.list-index {
  box-shadow: $z-depth-1;
  border: none !important;
}

.mnh-100 {
  min-height: 100%;
}

.mnw-100 {
  min-width: 100%;
}

.fixed-bottom.create {
  left: inherit;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  box-shadow: $z-depth-1-half;
}

.modal-content {
  border: 0;
  box-shadow: $z-depth-3;
}

.z-depth-0 {
  box-shadow: none !important;
}

.z-depth-half {
  box-shadow: $z-depth-half;
}

.z-depth-1 {
  box-shadow: $z-depth-1;
}

.z-depth-1-half {
  box-shadow: $z-depth-1-half;
}

.z-depth-2 {
  box-shadow: $z-depth-2;
}

.z-depth-3 {
  box-shadow: $z-depth-3;
}

.z-depth-4 {
  box-shadow: $z-depth-4;
}


.truncate {
  display: inline-block;
  max-width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
