{{#nav-breadcrumbs as |crumbs|}}
  {{#crumbs.item}}{{#link-to "email.deployment.index"}}Email Deployments{{/link-to}}{{/crumbs.item}}
  {{#crumbs.item active=true}}{{ model.name }}{{/crumbs.item}}
{{/nav-breadcrumbs}}

<div class="card model-form">
  <div class="card-header"></div>
  <div class="card-body">
    <h5 class="card-title">Subject: {{ model.subject }}</h5>

    <p class="mb-0">Jobs Sent: {{model.sendCount}}</p>
    <hr>
    <h5 class="card-title">Sends</h5>
  </div>
</div>

