<div class="card-body">

  <div class="row">
    <div class="col">
      <div class="custom-control custom-checkbox">
        {{input type="checkbox" checked=model.enabled class="custom-control-input" id="include-email-leads" change=(action "updateStatus")}}
        <label class="custom-control-label" for="include-email-leads">Require Email Leads?</label>
      </div>
    </div>
  </div>
  {{#if model.enabled}}
    <div class="row mt-3">
      <div class="col-lg-6 mnh-100">
        <div class="card mnh-100">
          <div class="card-header">
            Email URL/Link Rules
          </div>
        </div>
      </div>
    </div>
  {{/if}}
</div>
