<h5 class="card-title">
  {{#if model.totalCount}}
    Found {{model.totalCount}} Record{{#if (gt model.totalCount 1)}}s{{/if}}
  {{else}}
    No Records Found
  {{/if}}
</h5>

{{#fetch-more
  query=observable
  edges=model.edges
  hasNextPage=model.pageInfo.hasNextPage
  endCursor=model.pageInfo.endCursor
  resultKey="allFormEntries" as |fetch|
}}
  <ul>
    {{#each fetch.nodes as |node|}}
      <li>Entry #: {{node.identifier}}</li>
    {{/each}}
  </ul>
  {{#if fetch.hasNextPage}}
    <button class="btn btn-primary" {{action fetch.actions.loadMore}}>Load More</button>
  {{/if}}
{{/fetch-more}}
