{{#nav-breadcrumbs as |crumbs|}}
  {{#crumbs.item}}{{#link-to "campaign.tracked.index"}}{{entypo-icon "credit"}} Tracked Campaigns{{/link-to}}{{/crumbs.item}}
  {{#crumbs.item active=true}}{{ model.fullName }}{{/crumbs.item}}
{{/nav-breadcrumbs}}

<div class="row mb-5">
  <div class="col">
    <div class="card model-form">
      <div class="card-header">
        <ul class="nav nav-pills card-header-pills" role="tablist">
          <li class="nav-item">{{#link-to "campaign.tracked.edit.index" class="nav-link" role="tab"}}Details{{/link-to}}</li>
          <li class="nav-item">{{#link-to "campaign.tracked.edit.email" class="nav-link" role="tab"}}Email{{/link-to}}</li>
          <li class="nav-item">{{#link-to "campaign.tracked.edit.forms" class="nav-link" role="tab"}}Forms{{/link-to}}</li>
          <li class="nav-item">{{#link-to "campaign.tracked.edit.video" class="nav-link" role="tab"}}Video{{/link-to}}</li>
        </ul>
      </div>
      {{outlet}}
    </div>
  </div>
</div>

