{{#bs-modal show=true size="large" onHidden=(route-action "transitionTo" "campaign.edit.ads") as |modal|}}
  {{#modal.header}}
    <h5 class="modal-title">Manage Ad Campaign Trackers</h5>
    <button {{action modal.actions.hide}} type="button" class="close" aria-label="Close">
      {{entypo-icon "cross"}}
    </button>
  {{/modal.header}}
  {{#modal.body class="pt-0"}}
    {{!-- {{#each urlGroups as |urlGroup|}}
      {{email-campaign/url-group class="mt-3" urlGroup=urlGroup on-change=(action "updateExcludedUrls")}}
    {{else}}
      <p class="mt-3 mb-0">No links found for the selected campaign criteria.</p>
    {{/each}} --}}
  {{/modal.body}}
  {{#modal.footer}}
  {{/modal.footer}}
{{/bs-modal}}
