<div class="form-group">
  <label class="mr-2">Link Type</label>
  {{#power-select
    options=options
    selected=selected
    onchange=onChange
    as |linkType|
  }}
    {{linkType}}
  {{/power-select}}
</div>
