<div class="card-body">
  <div class="form-group">
    <label for="email-deployment-html">HTML {{required-field}}</label>
    {{textarea id="email-deployment-html" class="form-control" value=model.ourHtml required=true}}
  </div>
</div>
