<form {{action "setHtml" on="submit"}}>
  <div class="card-body">
    <div class="form-group mb-0">
      <label for="email-deployment-html">HTML {{required-field}}</label>

      {{ember-ace
        lines=25
        value=model.ourHtml
        theme="ace/theme/chrome"
        mode="ace/mode/html"
        useSoftTabs=true
        tabSize=2
        useWrapMode=false
        showPrintMargin=false
        update=(action (mut model.ourHtml))
      }}

    </div>
  </div>
  <div class="card-footer">
    {{model-save-button disabled=saveDisabled}}
  </div>
</form>
