{{#bs-modal show=true size="large" onHidden=(route-action "transitionTo" "campaign.edit.email") as |modal|}}
  {{#modal.header}}
    <h5 class="modal-title">Manage Email Campaign Links</h5>
    <button {{action modal.actions.hide}} type="button" class="close" aria-label="Close">
      {{entypo-icon "cross"}}
    </button>
  {{/modal.header}}
  {{#modal.body}}
    {{#each campaignUrls as |campaignUrl|}}
      <p>{{campaignUrl.deployment.name}}</p>
    {{/each}}
  {{/modal.body}}
  {{#modal.footer}}
  {{/modal.footer}}
{{/bs-modal}}
