<div class="card-header">
  <strong>{{headerText}}</strong><br>
  <small class="truncate">{{value}}</small>
</div>
<div class="card-body">
  <label>Customer</label>
  {{type-ahead
    type="customer"
    selected=model.customer
    onChange=(action "setCustomer")
  }}

  <label>Tags</label>
  {{type-ahead
    type="tag"
    multiple=true
    selected=model.tags
    onChange=(action "setTags")
  }}
</div>
