<div class="card-body">

  <div class="row">
    <div class="col">
      <div class="custom-control custom-checkbox">
        {{input type="checkbox" checked=model.enabled class="custom-control-input" id="include-email-leads" change=(action "updateStatus")}}
        <label class="custom-control-label" for="include-email-leads">Include Ad Campaign Leads in Campaign?</label>
      </div>
    </div>
  </div>
  {{#if model.enabled}}
  {{/if}}
</div>
