<div class="card-body">

  <div class="row">
    <div class="col">
      <div class="custom-control custom-checkbox">
        {{input type="checkbox" checked=model.enabled class="custom-control-input" id="include-email-leads" change=(action "updateStatus")}}
        <label class="custom-control-label" for="include-email-leads">Include Ad Campaign Leads in Campaign?</label>
      </div>
    </div>
  </div>
  {{#if model.enabled}}
    <div class="row mt-3">
      <div class="col-lg-6 mnh-100">
        <div class="card mnh-100">
          <div class="card-header">
            Ad Creative Rules
          </div>
          <div class="card-body">
            <label for="tags">Only Include Ads Tagged With...</label>
              {{type-ahead
                placeholder="Begin typing to find a tag..."
                type="tag"
                multiple=true
                selected=model.tags
                onChange=(action "updateTags")
              }}
              <small class="form-text text-muted">Leave empty to include all ads.</small>
          </div>
        </div>
      </div>
    </div>
  {{/if}}
</div>
