{{#link-to
  "tag.edit" item.id
  class="list-group-item list-group-item-action flex-column align-items-start"
}}
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">{{item.name}}</h5>
    {{#if item.updatedAt}}
      <small>{{moment-format item.updatedAt 'MMM Do, YYYY h:mm a'}}</small>
    {{/if}}
  </div>

  <small>{{item.id}}</small>
{{/link-to}}
