<div class="card-body">

  <div class="row">
    <div class="col-12 col-md-6 mb-3">
      <div class="card">
        <div class="card-header font-weight-bold text-center">Activity For All Emails</div>
        <div class="card-body">
          {{lead-report/charts/email-activity totals=model.totals.metrics count=model.sends.length}}
          {{!-- {{lead-report/section-email-deployments/chart-overview totals=_data.totals.metrics count=_data.deployments.length}} --}}
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 mb-3">
      <div class="card">
        <div class="card-header font-weight-bold text-center">Lead Acquisition Share</div>
        <div class="card-body">
          {{lead-report/charts/lead-acquisition sends=model.sends totalIdentityCount=model.totals.identities}}
        </div>
      </div>
    </div>
  </div>

</div>
