{{ember-notify messageStyle="bootstrap"}}

{{#if displayNav}}
  {{partial "navigation"}}
{{/if}}

<div class="container my-3">
  <div class="row">
    <div class="col">
      {{outlet}}
    </div>
  </div>
</div>

<div id="loading-trigger" style="display:none; opacity:0.8">
  {{partial "loading"}}
</div>

