<div id="loading-trigger" style="display:none; opacity:0.8">
  {{partial "loading"}}
</div>

{{ember-notify messageStyle="bootstrap"}}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top z-depth-1-half">
  {{#link-to "index" class="navbar-brand"}}Lead Management{{/link-to}}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        {{#link-to "customer" class="nav-link"}}Customers{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to "link-tracking" class="nav-link"}}Link Tracking{{/link-to}}
      </li>
    </ul>
  </div>
</nav>

<div class="container my-3">
  <div class="row">
    <div class="col">
      {{outlet}}
    </div>
  </div>
</div>

