{{#nav-breadcrumbs as |crumbs|}}
  {{#crumbs.item active=true}}{{entypo-icon "blackboard"}} Dashboard{{/crumbs.item}}
{{/nav-breadcrumbs}}

{{beta-feature}}

<div class="card model-form">
  <div class="card-header"></div>
  <div class="card-body">
    {{!-- {{ partial "campaign/form" }} --}}
  </div>
  <div class="card-footer">
    {{!-- {{model-save-button disabled=isActionRunning}} --}}
  </div>
</div>
