<div class="sticky-top z-depth-1-half">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    {{#link-to "index" class="navbar-brand"}}<span class="text-primary">Lead</span> Management{{/link-to}}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          {{#link-to "customer" class="nav-link"}}Customers{{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to "link-tracking" class="nav-link"}}Link Tracking{{/link-to}}
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navEmailDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Email
          </a>
          <div class="dropdown-menu" aria-labelledby="navEmailDropdown">
            {{#link-to "email.send" class="dropdown-item"}}Sends{{/link-to}}
            {{#link-to "email.deployment" class="dropdown-item"}}Deployments{{/link-to}}
            {{#link-to "email.category" class="dropdown-item"}}Categories{{/link-to}}
          </div>
        </li>
        <li class="nav-item">
          {{#link-to "tag" class="nav-link"}}Tags{{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to "form" class="nav-link"}}Forms{{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to "user" class="nav-link"}}Users{{/link-to}}
        </li>
      </ul>
      <ul class="navbar-nav float-lg-right">
        {{user-nav model=user.model}}
      </ul>
    </div>
  </nav>

  {{loading-progress class="bg-dark"}}
</div>
